* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*default version*/
@font-face {
	font-family: 'Avenir Next';
	/* src: url('fonts/lovely_font.eot');  */
	src: 
		local('Avenir Next-'),
		local('Avenir-Next-'),
		url('./Next/AvenirNextLTPro-Regular.otf') 
		format('opentype');
}
/*bold version*/
@font-face {
	font-family: 'Avenir Next';
	/* src: url('fonts/lovely_font_bold.eot');  */
	src: 
		local('Avenir Next Bold'),
        local('Avenir-Next-Bold'),
		url('./Next/AvenirNextLTPro-Bold.otf') 
		format('opentype');
	font-weight: bold;
}
/*container element*/

body {
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

.contain {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}


header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

header .header-text h3 {
    font-size: 250%;
    color: #fff;
    font-weight: 300;
    text-align: center;
}


.sec-header .row img {
    height: 20vh;
    width: auto;
    overflow-x: hidden;
}
.sec-header .row h4 {
    font-size: 110%;
}
.sec-header .row p {
    font-size: 90%;
    line-height: 150%;
}
.sec-header h5 {
    font-size: 125%;
    width: 65%;
    margin-bottom: 5%;
    line-height: 150%;
}


.img-bg {
    background: #F9FAFB;
    overflow-x: hidden;
}
.img-bg ul {
    margin: 0;
    padding: 0;
}
.img-bg ul li {
    list-style: none;
    padding: 10px 0;
}
.img-bg .contain {
    margin-top: 15%;
}

.mockup img.large {
    width: 40%;
    margin: 0 auto;
    display: block;
}
.mockup .sec h4 {
    margin-top: 20%;
    font-size: 165%;
}
.mockup .sec img {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    height: 7vh;
}
.mockup .sec .link {
    width: 60%;
    margin: 0;
    padding: 0;
}

.mockup .sec p {
    font-size: 110%;
    line-height: 150%;
}

.last .row i {
    padding: 10px;
    border-radius: 50%;
    color: #a1c2f2;
    margin-bottom: 15%;
}
.last .row h4 {
    font-size: 105%;
    margin-top: 5%;
}
.last .row p {
    font-size: 85%;
    line-height: 150%;
}


footer {
    min-height: 20vh;
    background: #000;
}
footer i {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #fff;
    color: #fff;
    margin: 0 10px;
}
footer h6 {
    margin-top: 20px;
    line-height: 150%;
    color: #fff;
}


.top {
    margin-top: 10%;
}
footer .top {
    margin-top: 0%;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.nav img.logo {
    width: 10%;
    height: auto;
}

/* .nav .ml-auto {
    width: 30%;
}
.nav .ml-auto .img {
    width: 40%;
    float: left;
    margin: 0;
    padding: 0;
    height: 7vh;
} */

.nav .ml-auto {
    display: flex;
}
.nav .ml-auto a {
    display: inline-block;
    height: 42px;
    width: 137px;
    border-radius: 5px;
    margin-right: 10px;
}
.nav .ml-auto a img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.nav.fixed {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    background: #fff;
}

.roww {
    display: flex;
}
.roww .bar {
    flex: 1;
}

@media (max-width: 720px ) {
    .sec-header h5 {
        font-size: 125%;
        width: 100%;
        margin-bottom: 25%;
        line-height: 150%;
    }
    .sec-header .row p {
        font-size: 90%;
        width: 100%;
        line-height: 150%;
    }

    .roww {
        flex-direction: column-reverse;
    }
    .img-bg ul {
        margin-bottom: 15%;
    }

    header .header-text {
        position: absolute;
        top: 40%;
        left: 2%;
    }
    header .header-text h3 {
        font-size: 200%;
    }
    .nav img.logo {
        width: 40%;
        padding: 10px 0;
        height: auto;
    }
    .nav .ml-auto {
        display: none;
    }
    .nav .ml-auto a {
        display: inline-block;
        /* height: 30px; */
        /* width: 137px; */
        border-radius: 5px;
        margin-right: 10px;
    }
    .nav .ml-auto a img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 750px) {
    header .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

